* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.future-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.future-text-header {
    width: 60%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.future-content {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 10px;
}

.future-section {
    display: flex;
    align-items: center; 
    background-color: var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;  
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.future-image-box {
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    margin-top: 1%;
}

.future-image-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.future-details {
    width: 80%;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.future-details p {
    color: #303f4e;
    line-height: 1.6;
    font-style: italic;
    letter-spacing: 0.2px;
}
