*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #89A8B2;
    --secondary-color: #B3C8CF;
    --accent-color: #E5E1DA;
    --text-color: #F1F0E8;
    --link-color: #FFFFFF;
    --link-hover-color: #E2E2B6;
    --gradient-bg: linear-gradient(315deg, var(--secondary-color)20%,var(--primary-color)80%);
}
html,body{
    color: var(--text-color);
    line-height: 1.5;
    min-height: 100vh;
    text-align: center;
    background: var(--gradient-bg);
    font-family: "Akshar", sans-serif;
}
/* Header-start */
header{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 20%;
    padding: 2%;
}
.header-left{
    flex: 1;
}
.header-right{
    flex: 3;
    display: flex;
    justify-content: space-around;
}
/* Header-end */

