/* <!-- Homepage-main-start --> */
.homepage-main{
    min-height: 80%;
    min-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.homepage-text-header{
    min-height: auto;
    max-width: 600px;
    padding: 2%;
}
.homepage-card-container{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage-card{
    min-width: 280px;
    min-height: 380px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.homepage-card hr{
    width: 75%;
    align-self: center;
    margin: 8px;
}
.homepage-card-content{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}
.homepage-card-icon-container{
    min-width: 50%;
    display: flex;
    gap: 16px;
}
.homepage-card-icon{
    width: 32px;
    height: 32px;
}
.homepage-card-profile{
    width: 200px;
    height: 240px;
    align-self: center;
    background-color: var(--secondary-color);
    border-radius: 16px;
}
.homepage-guest-book{
    min-width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: solid var(--accent-color) 1px;
    border-radius: 16px;
    margin: 16px;
}
#homepage-guest-book-form{
    min-height: auto;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.homepage-form-row{
    width: 100%;
    display: flex;
    gap: 8px;
}
input[type=text],input[type=email]{
    width: 49%;
    padding: 8px 16px;
    background-color: var(--secondary-color);
}
input[type=submit]{
    margin-top: 8px;
    width: 80px;
    height: 32px;
}
.homepage-guest-book-rating{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}
.homepage-guest-book-rating label{
    height: 40px;
    width: 32px;
    display: block;
    position: relative;
    cursor: pointer;
}
.homepage-guest-book-rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color:  var(--link-hover-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.homepage-guest-book-rating label:hover::after{
    color: var(--text-color);
}
.homepage-guest-book-rating input{
    display: none;
}
.homepage-guest-book-rating input:checked + label::after,
.homepage-guest-book-rating input:checked ~label::after{
    content: "★";
    color: var(--link-hover-color);
}
textarea{
    height: 150px;
    background-color: var(--secondary-color);
    width: auto;
}
.homepage-comment{
    border: solid var(--accent-color) 1px;
    background-color: var(--secondary-color);
    border-radius: 16px 16px 16px 0px;
    margin: 8px;
    padding: 8px;
}
.comment-rating-star{
    color: var(--link-hover-color);
}
/* <!-- Homepage-main-end --> */