*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #89A8B2;
    --secondary-color: #B3C8CF;
    --accent-color: #E5E1DA;
    --text-color: #F1F0E8;
    --text-color2: #303f4e;
    --link-color: #FFFFFF;
    --link-hover-color: #E2E2B6;
    --gradient-bg: linear-gradient(315deg, var(--secondary-color)10%,var(--primary-color)80%);
}
html,body{
    color: var(--text-color);
    line-height: 1.5;
    min-height: 100vh;
    text-align: center;
    background: var(--gradient-bg);
    font-family: "Akshar", sans-serif;
}
.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--primary-color);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}
  
.transition-1.is-active {
    pointer-events: all;
    opacity: 1;
}
  
.transition-2 {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  bottom: 0;
  z-index: 101;
  background-color: var(--primary-color);
  transition: 0.5s ease-out;
}
  
.transition-2.is-active {
  left: 0px;
}

.transition-3 {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--primary-color);
  transition: 0.5s ease-out;
}

.transition-3.is-active {
  top: 0;
}
/* Header-start */
header{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 20%;
    padding: 0% 2%;
    z-index: 110;
}
.header-left{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.header-left img{
    max-width: 200px;
    border-radius: 32px;
    height: auto;
}
.header-center{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.header-right{
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
}
.header-right img{
    align-self: flex-end;
    min-height: 64px;
    min-width: 64px;
}
.header-right h3 a:link{
    text-decoration: none;
}
.header-right h3 a:visited{
    text-decoration: none;
}
.header-right h3 a:hover{
    text-decoration: none;
    color: var(--link-hover-color);
}
.header-right h3 a:link{
    text-decoration: none;
}
a{
    text-decoration: none;
}
/* Header-end */

/* <!-- Homepage-start --> */
.homepage-main{
    min-height: 80%;
    min-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.homepage-text-header{
    min-height: auto;
    max-width: 600px;
    padding: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.homepage-card-container{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homepage-card{ 
    color : var(--texter-color2);
    min-width: 280px;
    min-height: 380px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.homepage-card hr{
    width: 75%;
    align-self: center;
    margin: 8px;
}
.homepage-card-content{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}
.homepage-card-icon-container{
    min-width: 50%;
    display: flex;
    gap: 16px;
}
.homepage-card-icon{
    width: 32px;
    height: 32px;
}
.homepage-card-profile{
    width: 200px;
    height: 240px;
    align-self: center;
    background-color: var(--secondary-color);
    border-radius: 16px;
}
.homepage-guest-book{
    min-width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: solid var(--accent-color) 1px;
    border-radius: 16px;
    margin: 16px;
}
#homepage-guest-book-form{
    min-height: auto;
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.homepage-form-row{
    width: 100%;
    display: flex;
    gap: 8px;
}
input[type=text],input[type=email]{
    width: 49%;
    padding: 8px 16px;
    background-color: var(--secondary-color);
}
input[type=submit]{
    margin-top: 8px;
    width: 80px;
    height: 32px;
}
.homepage-guest-book-rating{
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}
.homepage-guest-book-rating label{
    height: 40px;
    width: 32px;
    display: block;
    position: relative;
    cursor: pointer;
}
.homepage-guest-book-rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color:  var(--link-hover-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 32px;
    -webkit-animation: 1s pulse ease;
    animation: 1s pulse ease;
}
.homepage-guest-book-rating label:hover::after{
    color: var(--text-color);
}
.homepage-guest-book-rating input{
    display: none;
}
.homepage-guest-book-rating input:checked + label::after,
.homepage-guest-book-rating input:checked ~label::after{
    content: "★";
    color: var(--link-hover-color);
}
textarea{
    height: 150px;
    background-color: var(--secondary-color);
    width: auto;
}
.homepage-comment{
    border: solid var(--accent-color) 1px;
    background-color: var(--secondary-color);
    border-radius: 16px 16px 16px 0px;
    margin: 8px;
    padding: 8px;
}
.comment-rating-star{
    color: var(--link-hover-color);
}
header{
    background-color: #e9f5fb;
}
/* <!-- Homepage-end --> */

/* <!-- Journey-start --> */
.journey-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.journey-text-header {
    margin-top: 25px;
    width: 60%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.journey-timeline {
    width: 70%;
    padding-top: 40px;
    align-items: center;
}

.journey-list {
    counter-reset: year 2023;
    position: relative;
}
  
.journey-list li {
    list-style: none;
    float: left;
    width: 25%;
    position: relative;
}
  
.journey-list li:before {
    counter-increment: year;
    content: counter(year);
    width: 60px;
    height: 25px;
    border: 1px solid var(--text-color);
    border-radius: 30px;
    display: block;
    text-align: center;
    line-height: 25px;
    margin: 0 auto 10px auto;
    background: var(--primary-color);
    color: var(--text-color);
    font-size: 0.7rem;
    position: relative;
    z-index: 2; 
}
  
.journey-list li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: var(--text-color);
    top: 12.5px;
    left: -50%;
    z-index: 1; 
}
  
.journey-list li:first-child:after {
    content: none;
}  

.journey-content {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 10px;
}

.journey-section {
    display: flex;
    align-items: center; 
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}
.journey-image-box {
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 1% 0 0 4%;
}

.journey-image-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.journey-details {
    width: 80%;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    padding: 4% 10%;
}

.journey-details p {
    color: var(--text-color2);
    line-height: 1.6;
    font-style: italic;
    letter-spacing: 0.2px;
}

.journey-section:hover {
    background-color: var(--text-color);
    transform: scale(1.05); 
}
/* <!-- Journey-end --> */

/* <!-- Future-start --> */
.future-container {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.future-text-header {
    width: 60%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
}

.future-content {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 10px;
}

.future-section {
    display: flex;
    align-items: center; 
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.future-image-box {
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 1% 0% 0% 4%;
}

.future-image-box img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.future-details {
    width: 80%;
    flex-direction: column; 
    justify-content: center; 
    height: 100%; 
    padding: 4% 10%;
}

.future-details p {
    color: var(--text-color2);
    line-height: 1.6;
    font-style: italic;
    letter-spacing: 0.2px;
}
/* <!-- Future-End --> */
/* <!-- Responsive-Start --> */
/* Laptop */
@media all and (max-width: 1024px){
    h1{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.83rem;
    }
    p{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
}

@media all and (max-width: 1024px){
    h1{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.83rem;
    }
    p{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
}

/* Laptop */
@media all and (max-width: 1024px){
    h1{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.83rem;
    }
    p{
        font-size: 1rem;
    }
    label{
        font-size: 1rem;
    }
}

/* Tablet */
@media all and (max-width: 768px){
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.75rem;
    }
    h4{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.75rem;
    }
    label{
        font-size: 0.75rem;
    }
    .homepage-card-profile{
        width: 140px;
        height: 180px;
    }
    .homepage-card{
        min-width: 200px;
        min-height: 300px;
        width: 200px;
        height: 300px;
    }
    .homepage-card-icon{
        width: 16px;
        height: 16px;
    }
}
/* Mobile L */
@media all and (max-width: 425px){
    h1{
        font-size: 1.75rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 1rem;
    }
    p{
        font-size: 0.85rem;
    }
    label{
        font-size: 0.85rem;
    }
    header{
        flex-direction: column;
    }
    .header-left img{
        width: 160px;
    }
    .header-center{
        flex-direction: column;
        padding: 16px 0px;
        gap: 16px;
    }
    .header-right img{
        min-width: 32px;
        min-height: 32px;
    }
    .homepage-card-container{
        flex-direction: column;
    }
    .homepage-guest-book{
        min-width: 300px;
    }
    .homepage-card{
        flex-direction: row;
        min-width: 100%;
        min-height: 150px;
        height: 200px
    }
    .homepage-card-content{
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .homepage-card-icon{
        width: 32px;
        height: 32px;
    }
    .journey-content{
        width: 80%;
    }
    .journey-section{
        flex-direction: column;
    }
    .journey-image-box{
        width: 40%;
    }
    .journey-details{
        padding-left: 4%;
        padding-right: 4%;
    }
}